pillow
django>=1.8
pycrypto
trml2pdf
PyYAML
reportlab
sorl-thumbnail
django-registration-redux
django-contrib-comments
django-livesettings
django-threaded-multihost
django-caching-app-plugins
django-keyedcache
