pillow
django>=1.4,<1.5
pycrypto
http://www.satchmoproject.com/snapshots/trml2pdf-1.2.tar.gz
PyYAML
reportlab
south
sorl-thumbnail
django-registration
django-livesettings
django-threaded-multihost
django-caching-app-plugins
django-keyedcache
